{% extends 'membership/base.html' %}
{% block content %}
<h1 class="title">
    Hi, John
</h1>
<p class="subtitle">
    Please make a payment with <strong>Stripe</strong>!
</p>
<div class="card mb-2 mx-auto shadow-sm p-3 mb-3 bg-body rounded" style="width: 18rem;">
    <div class="card-body">
        <h5><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                class="bi bi-circle-square" viewBox="0 0 16 16">
                <path d="M0 6a6 6 0 1 1 12 0A6 6 0 0 1 0 6z" />
                <path
                    d="M12.93 5h1.57a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1.57a6.953 6.953 0 0 1-1-.22v1.79A1.5 1.5 0 0 0 5.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 4h-1.79c.097.324.17.658.22 1z" />
            </svg></h5>
        <h5 class="card-title">Premium Membership</h5>
        <p class="card-text">Get access to all the premium features</p>
    </div>
</div>

<form action="{% url 'membership:create-checkout-session' %}" method="post" class="d-grid">
{% csrf_token %}
    <input type="hidden" name="lookup_key" value="price_1JZEL14JaSmpe0Llzqi8CG0C" />
    <button type="submit" href="#" class="btn btn-dark"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card me-1"
            viewBox="0 0 16 16">
            <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
        </svg> Pay</button>
</form>
{% endblock content %}